<div class="px-3">
<span class="text-center fs-5 fw-light">
  Learning to code can be a challenging journey, especially when you encounter complex concepts or run into issues while
  working on projects. Sometimes, you may spend hours or even days trying to figure out a piece of code or a bug in your
  program. This is where the website comes in handy.
  <br><br>
  This website is a one-stop solution for anyone who wants to learn how to code or improve their coding skills. With
  just a few clicks, you can submit any part of your code written in any programming language and receive an explanation
  of how it works within seconds. This feature is made possible through the use of OpenAI API, which ensures accurate
  and fast results.
  <br><br>
  <a href="https://www.whycode.ai"><u>whycode.ai</u></a> created by Anton Astremskyi, a developer with 10+ years of experience in tech field and a passion for
  teaching and mentoring other developers on their way to improving coding skills or creating their own awesome
  projects.
  <br><br>
  The website is continuously improving. If you have any suggestions or comments please submit them to hello@whycode.ai
</span>

</div>

<style>
  main {
    min-height: 50%;
    margin: 100px auto;
    max-width: 1100px;
  }

  .logo {
    font-size: 58px;
    text-align: center;
    letter-spacing: -3px;
    font-weight: 600;
    opacity: 0.8;
    cursor: pointer
  }

  a {
    all: unset;
    cursor: pointer
  }


</style>