<header class="row no-gutters d-flex justify-content-center align-items-center px-1">
  <span class="logo">whycode.ai</span>
  <span class="text-center fw-lighter">Empowering developers with AI mentorship for flawless code understanding</span>
</header>

<main>
  <form action='/' method='post'>
    <div class="position-relative">
      <textarea class='form-control resize-none  my-3' placeholder='Paste your code here' required
        name='content'></textarea>
      <div class="position-absolute bottom-0 end-0">
        <button class='btn p-2' type='submit'>Send</button>
      </div>
    </div>
  </form>

  {{#if message}}
  <hr />
  <pre><code class='language-javascript bg-transparent'>{{code}}</code></pre>
  <p class='callout callout-info'>{{message.content}}</p>
  {{/if}}

</main>


<footer class="row no-gutters text-center fw-lighter">

  <span>Our goal is to develop AI systems that can serve as your coding mentor. We welcome your feedback to enhance our
    efforts. Find more information <a href="">here</a>. </span>


  <span>whycode.ai 2023 </span>

  <span></span>


</footer>



<style>
  main {
    min-height: 50%;
    margin: 100px auto;
    max-width: 1100px;

  }

  textarea {
    resize: none;
  }

  textarea::placeholder {
    font-size: 32px;
    letter-spacing: -2px;
  }

  a {
    color: #000
  }

  .logo {
    font-size: 58px;
    text-align: center;
    letter-spacing: -3px;
    font-weight: 600;
    opacity: 0.8;

  }

  button {
    margin: 0 10px 9px 0;
    background-color: rgb(226, 226, 226) !important
  }

  button:hover {
    background-color: rgb(209, 209, 209) !important
  }
</style>